@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$primary:     #5143d9;
//$primary:     #23395D;
$secondary:   $gray-500;
$success:     $green;
$info:        $cyan;
$warning:     $yellow;
$danger:      $red;
$light:       $gray-100;
$dark:        $gray-800;
$mode:        $white; 

// theme colors map
$theme-colors: (
  "primary":    $primary,
  "white":      $white,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "orange":     $orange,
  "mode":       $mode
);

// Add below your SASS or CSS code

// (Required) Import Bootstrap
@import "bootstrap/scss/bootstrap";